.menu-items{
    position: fixed;
    top: 150px;
    left: 10%;
}
.menu-item{

    color: white;
    font-family: 'Inter';

}
.menu-item a
{ 
    gap: 20px;
    margin: 40px 0px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}
.menu-item a:hover{
    color: white;
    font-size: 15px;
    transition: font-size 10ms;
}
.container{
    position: fixed;
    top: 30px;
    width: 60%;
    left: 5%;
    right: 5%;
    color: white;
    justify-content: normal;
}
.container ul{
    right: 10%;
    margin-left:-100px ;
    
}
.pfp-min{
    background-color: #fff;
}
.container a{
    margin-left: -110px;
}
.navbarDropdown{
    right: 10%;
}
@media screen and (max-width: 1600px) {
    .container a{
        margin-left: 10px;
    }    
}
@media screen and (max-width: 1280px) {
    .container a{
        margin-left: 60px;
    }    
}