.userinfo{

    background: rgb(255, 255, 255);
    width: 40%;
    left: 400px;
    padding: 20px;
    border-radius: 30px;    
    display: flex;
    flex-direction: column;
    margin: 150px auto 100px;
}
.punkt{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.pfp{
    margin: auto;
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
.showupdate{
    border: 1px solid black;
    border-radius: 30px;
    width: 200px;
    background-color: #fff;
    outline: none;
    margin: 0px auto 20px;
}
